.header {
	height: 50px;
	background-color: #313131;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-flow: row;
	z-index: 999;
}

.header #header-img {
	height: 100%;
	opacity: 0.9;
}

#header-img:hover {
	cursor: pointer;
	opacity: 1;
}

.nav-a {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-a li {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	height: 100%;
	padding: 0 1em 0 1em;
}

.nav-a li:hover {
	cursor: pointer;
	background-color: rgba(255,255,255, 0.2);
}

.custom-a {
	text-decoration: none;
	color: #fff;
}

.header-left {
	display: flex;
	justify-content: center;
	align-items: center;
}

#search-bar {
	position: relative;
	height: 30px;
	margin-left: 15px;
	padding-right: 10px;
	width: auto;
}

#search-btn {
	height: 30px;
	width: 30px;
	background-image: url(../images/search.png);
	border: none;
	background-color: rgba(255, 255, 255, 0.2);
}

#search-btn:hover {
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.body {
	padding: 50px 10px 50px 10px;
}

.footer {
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #313131;
	display: flex;
	justify-content: center;
	align-items:  center;
	color: #fff;
}

.container-a {
	min-height: 100%;
	position: relative;
}

body,
html {
	margin: 0;
	padding: 0;
}