.banner {
	background-color: #2d2c2c !important;
	border-radius: 0 !important;
	height: 250px !important;
	color: #fff !important;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	padding: 0 !important;
	margin: 0 !important;
}

.banner h3 {
	font-size: 2em;
	border-bottom: 1px solid #fff;
	padding-bottom: 5px;
	text-align: center;
	width: 80%;
}

.banner p {
	font-size: 1em !important;
	font-weight: 100;
	width: 80%;
	text-align: center;
}

.custom-a {
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
}

.custom-a:hover {
	text-decoration: none;
	color: #fff;
}

span {
	padding: 0 0 0 5px;
}

.cus-dropdown {
	color: #fff !important;
	text-decoration: none !important;
}

.t-container {
	background-color: #fff;
	width: 100%;
}

.nav-custom {
	height: 50px;
	width: 100%;
	background-color: #313131;
	display: flex;
	justify-content: space-between;
}

.tabcontent {
    display: none;
	animation: fadeEffect 0.5s;
	padding: 5%;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}